accelerate==0.31.0
aiobotocore
aiohttp
aioitertools
aiosignal 
altair
annotated-types==0.6.0
anyio
appdirs==1.4.4
# applaunchservices
# appnope
# appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro==1.9.0
docstring-to-markdown
docutils
entrypoints
et-xmlfile
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
gensim
gitdb
GitPython
greenlet
groq==0.13.0
h11==0.14.0
h5py
HeapDict
holoviews
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.4
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres==1.1.4
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai==1.21.2
openpyxl
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy==0.5.3
pexpect
pickleshare
pillow
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycparser
pyct
pycurl
pydantic==2.7.0
pydantic_core==2.18.1
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
pylint
pylint-venv
pyls-spyder==0.4.0
# pyobjc-core
# pyobjc-framework-Cocoa
# pyobjc-framework-CoreServices
# pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
s3fs
safetensors==0.4.3
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
sentence-transformers==3.2.1
service-identity
setuptools==68.2.2
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.19.1
toml
tomli
tomlkit
toolz
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado
tqdm
traitlets
transformers==4.42.3
Twisted
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.41.2
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
